<app-start-comp></app-start-comp>



<!-- For Service Example -->
<!-- <input type="text" [(ngModel)]="mymsg" />
<button (click)="hello()">Okay</button> -->


<!-- Simple form manupulation -->
<!-- <form #userlogin="ngForm" (ngSubmit)="onFormSubmit(userlogin.value)">
  <input id="name" type="text" name="name" placeholder="Username" ngModel />
  <br />
  <input type="password" name="password" placeholder="Password" ngModel /><br />
  <input type="submit" value="submit" />
</form> -->

<router-outlet></router-outlet>
