
<mat-tab-group>
  <mat-tab label="Approve Request">
    <section>
      <div class="example-button-row col-lg-4 offset-lg-5 mt-4">
        <button type="button" (click)="myFunc()" mat-raised-button color="primary">Approve All Request</button>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Exam Section">

      <section>
        <div class="example-button-row col-lg-4 offset-lg-5 mt-4">
          <button type="button" (click)="myFunc2()" mat-raised-button color="primary">Add Exam</button>
        </div>
      </section>

  </mat-tab>
</mat-tab-group>
