

<!-- <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div> -->


  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Aakash Chavan</mat-card-title>
      <mat-card-subtitle>Application Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="\assets\img1.jpeg" style="height: 400px;" alt="Photo AC">
    <mat-card-content>
      <h3>
        Keep It Real! 
        How you doin??
      </h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">EXAM CELL!</h1>
      <p class="lead">
        Online Exam Cell enables examiners to conduct examinations through the internet or a
        company-wide intranet for remote candidates or students.
      </p>
      <hr class="my-4" />
      <p>
          Presently we have MCQ Test Questions for English, Java, OOP, C, and all Computer Science subjects! 
      </p>
      <p class="lead">
       <i>Proceed through Login or Registration...</i> 
      </p>
    </div>
  </div>
  
 
  
  
